body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #fcefe3, #b578ee); /* Peach to purple */
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: inline-block;
}

canvas {
    border: 1px solid #ccc;
    margin-top: 10px;
}

/* Styled Buttons */
button {
    background-color: #c89ee0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a676c4;
}

/* File and text input spacing */
input[type="file"],
input[type="text"],
input[type="number"],
select {
    margin: 10px 0;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

@font-face {
    font-family: 'Pacifico';
    src: url('static/fonts/Pacifico.ttf') format('truetype');
}
@font-face {
    font-family: 'Dancing Script';
    src: url('static/fonts/DancingScript.ttf') format('truetype');
}
@font-face {
    font-family: 'Great Vibes';
    src: url('static/fonts/GreatVibes.ttf') format('truetype');
}
@font-face {
    font-family: 'Allura';
    src: url('static/fonts/Allura.ttf') format('truetype');
}
@font-face {
    font-family: 'Satisfy';
    src: url('static/fonts/Satisfy.ttf') format('truetype');
}
